OPENAI_API_KEY=your-api-key
OPENAI_BASE_URL=http://127.0.0.1:11434/v1
OPENAI_MODEL=Pro/MiniMaxAI/MiniMax-M2.5
OPENAI_THINK=true
# Skill 搜索目录（使用 ':' 分隔多个目录）
SKILL_SEARCH_DIRS=skills:.skills
OPENAI_MAX_TOOL_CALL_ROUNDS=50
# 日志文件路径配置
LOG_FILE_PATH=.history.log
#COPAW_CHROMIUM_EXECUTABLE="C:\Program Files\Google\Chrome\Application\chrome.exe"
COPAW_BROWSER_HEADLESS=false
COPAW_BROWSER_BRING_TO_FRONT=true
COPAW_BROWSER_USE_SYS_DEFAULT=False